<p>
  Admin page for <b><%= @group.name %> </b>
</p>

<p>
  The Join Code is: <b><%= @group.join_code %> </b>
  <% if @group.joinable == true %>
  <p>The Group is Currently<b> Joinable </b></p>
  <%= link_to "Disable Join Code", {:controller => "groups", :action => "toggle_joinable", :group_id => @group.id} %>
  <% else %>
  <p>The Group is Currently <b> Unjoinable </b></p>
  <%= link_to "Enable Join Code", {:controller => "groups", :action => "toggle_joinable", :group_id => @group.id} %>
  <% end %>
</p>


<br/>
<h3>Members</h3>
<p>
    <% @group_members.each do |m| %>
    <li>
      <%= m[0] %> - <%= m[1] %>
    </li>
    <% end %>
</p>



<p>
<%= form_tag("/change_member", method: "post") do %>
<%= hidden_field_tag(:group_id, @group.id) %>
<%= select_tag :user_id, options_for_select(@group_members.each) %>
<%= select_tag :change_value, options_for_select([['Creator', 0],['Moderator', 1], ['Member', 2], ['Remove', 3]]) %>
<%= submit_tag("Change Member")  %>
<% end %>
</p>
