<% if @group_members.length == 1 %>
<p>

</p>
<% end %>




<p>
<div class = "group-name"><b> <%= @group.name %> </b> </div> </br>
<% if @group.joinable %>
Join Code:  <%= @group.join_code %>
<% end %> <br/>
<% UsersGroup.all.each do |ug| %>
  <%  if ug.user_id == session[:user_id] && ug.group_id == @group.id && ug.member_type == 0 %>
    <%= link_to("Admin Page", admin_page_path(@group), :method => :get) %>
  <%  end %>
<% end %>
<%= link_to("Leave Group",leave_group_path(@group), :method => :delete) %>

</p>
<!-- <p>
  <h4>Members </h4>
  <% @group_members.each do |m| %>
      <%= m.name %>,
  <% end %>
</p> -->

<hr>


<% if @images.length == 0 %>
  <h2>This group has no content!</h2>
  <h4> <%= link_to "Upload an Image", new_image_path %></h4>
<% end %>

<% @images.reverse.each do |i| %>
<p>
   
   <%= link_to image_tag(i.image.url), i %>

   <p>
   <%= i.caption %>
   </p>
 <b><%=  time_ago_in_words(i.created_at) %></b> ago by <b><%= User.find(i.user_id).name %></b>, <%= i.comments.length %> Comments
 <%= link_to "View Image", i %>
</br>


<hr>
</p>
<% end %>
