Hello!


<% if @current_user.present? %>
<p>
You belong to these groups
<% @groups_belong_to.each do |g| %>
  <li>
      <%= link_to g.name, g %>
  </li>
<% end %>




<% @images.reverse.each do |i| %>
<li>
   <%= link_to "View Image", i %><img src = <%=i.image.url%>> </br>
 <b><%=  time_ago_in_words(i.created_at) %></b> ago by <b><%= User.find(i.user_id).name %></b> to <%= link_to i.group.name, i.group %>, <%= i.comments.length %> Comments
</br>
<p>
<%= i.caption %>
</p>

<hr>
</li>
<% end %>


<% end %>


<!-- loop through each group -->
<!-- if t -->
