<%= form_for @image do |f| %>
  <p>
  <%= f.label :image %>
  <%= f.file_field :image, :required => true %>
</p>

<p>
<%= f.label :Caption %> (optional)
<%= f.text_field :caption, :required => false %>
</p>

<p> Submit to: 
<% groups_array = [] %>
  <% Group.all.each do |g| %>
      <% UsersGroup.all.each do |mb| %>
          <% if mb.user_id == @current_user.id && mb.group_id == g.id %>
                <% groups_array << [g.name, g.id] %>
          <% end %>
      <% end %>
  <% end %>

<%= f.select :group_id, groups_array %>
</p>




<%= f.submit "Upload Image" %>
<% end %>
