<%= form_for @image do |f| %>

  <p>
  
<div style = "margin-left: 43vw; width: 100%;">  <%= f.file_field :image, :required => true %></div>
</p>


<p>
<%= f.label :Caption %> (optional)
<%= f.text_field :caption, :required => false %>
</p>

<p> Submit to:



<% groups_array = [] %>

<% @groups_belong_to.each do |g| %>
  <% unless UsersGroup.find_by(user_id: session[:user_id], group_id: g.id).member_type == 4  %>
  <% groups_array << [g.name, g.id] %>
  <% end %>
<% end %>



<%= f.select :group_id, groups_array %>
</p>




<%= f.submit "Upload Image" %>
<% end %>
